
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: darksalmon;

}

header {
  color: antiquewhite;
  font-size: larger;
  background-color: chocolate;
  padding: 1em 0em;
  text-align: center;
  margin-bottom: 5em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60em;
  height: 35em;
  border: 3px rgb(69, 69, 69) solid;
  border-radius: 2em;
  background-color: antiquewhite;
}

.inner-div-top {
  background-color: blanchedalmond;
  display: flex;
  width: 100%;
  height: 60%;
  border-radius: 50%;

}

.user-choices {
  width: 50%;
  height: 100%;
}

.main-button {
  display: grid;
  place-items: center;
  width: 50%;
  height: 100%;
  }

  .main-button button {
    position: relative;
    color: white;
    text-shadow: 2px 2px 5px rgb(52, 52, 52);
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    border: .2em solid rgba(55, 41, 33, 20%);
    border-radius: 100%;
    background-color: darkslategray;
    box-shadow: 2px 2px 5px tgb(95, 95, 95);
    width: 9em;
    height: 9em;
    transform: scale(0.97, 0.97);
    transition: transform ease-in-out 250ms;
  }

  .main-button button:hover {
    transform: scale(1,1);
  }

  .user-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 100%;
  }

  .user-choices h2 {
    color: #2f2f2f;
    margin-bottom: 1em;
  }

  .message-choices {
    color:#2f2f2f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .message-choices input {
    accent-color: rgb(34, 34, 34);
  }

  .message-choices label {

    padding-right: 1em;
    padding-left: .2em;
    font-size: 1.5rem;
  }

  .inner-div-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 40%;
    word-break: break-word;
  }

  .quote-example{
    color:#2f2f2f;
    margin-right: 1em;
}
.quote-text{
    color: #38373b;
    padding: 0em 1em;
}

.quote-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: larger;
  height: 40%;
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .main-button button {
    width: 7em;
    height: 7em;
  }
    .quote-div{
      height: 100%;
      font-size: 1rem;
    }
}

@media only screen and (max-width: 574px) {
  .inner-div-top {
    flex-direction: column;
  }
  .main-button{
    width: 100%;
    height: 75%;
  }
  .user-choices{
    width: 100%;
  }
  .user-choices h2{
    display: none;
  }
}
